.m-pet-home-view {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .m-pet-list {
    .pt(5px);
  }

  .m-pet {
    .dbi;
    margin: 0 8px 3px 0;
  }

  .m-filter {
    .mb(10px);

    .u-keyword {
      .w(160px);
    }

    .u-type, .u-source {
      .w(120px);
      .ml(10px);
    }
  }
}